h1{
    text-align :center;
    background-color:palegoldenrod;
    color:red;
    font-size:40px;
}

p{
    background-color:rgb(196, 162, 13);
    color:lightslategray;
    font-size:20px;

}

body{
    background-color:green;
}
